@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
@Model.Message

<br /><br />

<address>
    Jon Rocha<br />
    <a href="mailto:jrocha@usbr.gov">jrocha@usbr.gov</a><br />
    LC Region - Boulder Canyon Operations Office<br />
    (702)293-8379<br />

</address>
