@page
@model ErrorModel
@{
    ViewData["Title"] = "Oops...";
}

<h1 class="text-danger">Error</h1>
<h2 class="text-danger">This cute kitty-cat apologizes for the error...</h2>

<img src="~/images/oops.gif" class="img-responsive" alt="User Image">

<br />
<p>
    <a href="mailto:jrocha@usbr.gov?Subject=HDB Web POET" target="_top">E-mail the developer</a>
    and let them know what you were doing and that you encountered an error code
    <b><span id="errCodeSpan" class="text-danger"></span></b> while you were doing it.
    More information on error codes may be found
    <a href="https://en.wikipedia.org/wiki/List_of_HTTP_status_codes" target="blank">here</a>
</p>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<script>
    var url = window.location.href;
    var errCode = url.split("?")[1];
    span = document.getElementById("errCodeSpan");
    txt = document.createTextNode(errCode);
    span.appendChild(txt);
</script>
